In [1]:
tuple1 = ()
print("tuple1----> ", tuple1)

tuple1---->  ()

In [2]:
my_tuple = ('a', 'b', 'c', 'd', 'e')
my_tuple

('a', 'b', 'c', 'd', 'e')

In [3]:
my_mixed_tuple = ('a', 1, 1.1, True)
my_mixed_tuple

('a', 1, 1.1, True)

In [4]:
print(type(my_tuple))
print(type(my_mixed_tuple))

<class 'tuple'>
<class 'tuple'>

In [5]:
type(my_tuple[0])

str

In [6]:
type(my_mixed_tuple[1])

int

In [7]:
len(my_tuple)

5

In [8]:
len(my_mixed_tuple)

4

In [9]:
print("First element ---> " , my_mixed_tuple[0], "      ", "type of element ----> ", type(my_mixed_tuple[0]))
print("Second element ---> " , my_mixed_tuple[1], "      ", "type of element ----> ", type(my_mixed_tuple[1]))
print("Third element ---> " , my_mixed_tuple[2], "      ", "type of element ----> ", type(my_mixed_tuple[2]))
print("Fourth element ---> " , my_mixed_tuple[3], "      ", "type of element ----> ", type(my_mixed_tuple[3]))

First element --->  a        type of element ---->  <class 'str'>
Second element --->  1        type of element ---->  <class 'int'>
Third element --->  1.1        type of element ---->  <class 'float'>
Fourth element --->  True        type of element ---->  <class 'bool'>

In [10]:
print("Last element ---> " , my_mixed_tuple[-1])
print("Second Last element ---> " , my_mixed_tuple[-2])
print("Third element from Last---> " , my_mixed_tuple[-3])
print("Fourth element from Last---> " , my_mixed_tuple[-4])

Last element --->  True
Second Last element --->  1.1
Third element from Last--->  1
Fourth element from Last--->  a

In [13]:
my_mixed_tuple[ 0 : 2]   # extracts first two elements of tuple

('a', 1)

In [14]:
my_mixed_tuple[ 1 : ]   # extracts all elements of tuple starting from second element

(1, 1.1, True)

In [15]:
my_mixed_tuple[ : 3]   # extracts first three elements of tuple

('a', 1, 1.1)

In [16]:
my_mixed_tuple[ 0 : : 2] # extract every alternate element of tuple

('a', 1.1)

In [21]:
my_mixed_tuple[-1 ]  #access the elements of tuple in reverse manner

True

In [22]:
my_mixed_tuple[:-1 ]

('a', 1, 1.1)

In [23]:
my_mixed_tuple[ : :-1 ]

(True, 1.1, 1, 'a')

In [24]:
tuple1 = ('1', '2', '3', '4')
tuple2 = ('5', '6')
new_tuple = tuple1 + tuple2  # concat two tuples using + 
new_tuple

('1', '2', '3', '4', '5', '6')

In [25]:
tuple1 = ('1', '2', '3', '4')
new_tuple = tuple1 + ('5', '6')  # concat two tuples using + 
new_tuple

('1', '2', '3', '4', '5', '6')

In [26]:
(1, 2) * 3  # create a tuple with elements '1' and '2' repeated three times

(1, 2, 1, 2, 1, 2)

In [27]:
my_tuple = ( 'a', 'b')  
new_tuple = my_tuple * 2   #create a tuple with elements 'a' and 'b' repeated two times
new_tuple

('a', 'b', 'a', 'b')

In [28]:
my_tuple = ('a', 'b', 'c', 'd', 'e')

In [29]:
my_tuple[0] = 'p'    #throws error as individual tuple elements can not be altered

TypeError: 'tuple' object does not support item assignment

In [30]:
my_tuple.append('f')   #throws error as tuple can not be altered

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
my_tuple = ('a', 'b', 'c', 'd', 'e')
new_tuple = my_tuple

print("my_tuple---->", my_tuple)
print("new_tuple---->", new_tuple)

my_tuple----> ('a', 'b', 'c', 'd', 'e')
new_tuple----> ('a', 'b', 'c', 'd', 'e')

In [32]:
my_tuple = ('a', 'b', 'c', 'c', 'e')

In [33]:
my_tuple.index('c')  #get first index of element 'c' in tuple

2

In [34]:
my_tuple.index('b')  #get first index of element 'b' in tuple

1

In [35]:
my_tuple.index('v')  #get first index of element 'v' in tuple, as value is not present throws error

ValueError: tuple.index(x): x not in tuple

In [36]:
my_tuple.count('a') # count how many times 'a' appeared in tuple

1

In [37]:
my_tuple.count('c')

2

In [38]:
my_tuple

('a', 'b', 'c', 'c', 'e')

In [39]:
my_tuple.count('m') # count how many times 'm' appeared in tuple (which is not present as element in the tuple)

0

In [40]:
for i in range(len(my_tuple)):   #access tuple elements with for loop
    print("(", i, ") ", my_tuple[i])

( 0 )  a
( 1 )  b
( 2 )  c
( 3 )  c
( 4 )  e

In [41]:
Scores = (10, 8 , 3, 2 , 4, 0 , 0, 3)
Scores

(10, 8, 3, 2, 4, 0, 0, 3)

In [42]:
sorted(Scores)  # sort the tuple values using the sorted

[0, 0, 2, 3, 3, 4, 8, 10]

In [43]:
grades = ('a', 'c', 'd', 'e', 'b')
grades

('a', 'c', 'd', 'e', 'b')

In [45]:
sorted(grades, reverse=True)

['e', 'd', 'c', 'b', 'a']

In [46]:
my_tuple     # tuple elements are printed

('a', 'b', 'c', 'c', 'e')

In [47]:
del(my_tuple)  # remove the tuple

In [48]:
my_tuple  # throws error as tuple no more available

NameError: name 'my_tuple' is not defined

In [51]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [53]:
my_tup = ("a","b",1,4, 56, 56, 56)

In [55]:
my_tup.count(56)

3

In [56]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5}

# updates set A with the items common to both sets A and B
A.intersection_update(B)

print('A =', A)

# Output: A = {2, 3, 4}

A = {2, 3, 4}

In [57]:
A

{2, 3, 4}

In [58]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5}

In [61]:
C = A.intersection(B)

In [60]:
A

{1, 2, 3, 4}

In [62]:
C

{2, 3, 4}

In [63]:
A = {2, 3, 5}
B = {1, 3, 5}

# compute union between A and B
print('A U B = ', A.union(B))


# Output: A U B =  {1, 2, 3, 5}

A U B =  {1, 2, 3, 5}

In [67]:
A = {'a', 'b', "c"}
B = {"c", 1, 2, "c"}
 

# updates A after the items of B is added to A
A.update(B)

print(A)

# Output: {'a', 1, 2, 'b', 3}

{'a', 1, 2, 'b', 'c'}

********************************************************************

In [70]:
import sys

In [71]:
print(sys.version)

3.10.10 | packaged by Anaconda, Inc. | (main, Mar 21 2023, 18:39:17) [MSC v.1916 64 bit (AMD64)]

In [78]:
import math

In [79]:
math.sqrt(5) # compute the square root of a number

2.23606797749979

In [76]:
pandas.read_csv(" text.csv")

FileNotFoundError: [Errno 2] No such file or directory: ' text.csv'

In [75]:
import pandas

In [82]:
time.sleep(10) # halts the execution for 5 seconds

In [81]:
import time

In [ ]:
from random import randint
from random import *
import random

In [84]:
import random

In [ ]:
random.randint

In [85]:
from random import randint

In [86]:
from random import *

In [87]:
import numpy as np 
np.arange(5) #creats array of 5 elements holding vales 0 to 4

array([0, 1, 2, 3, 4])

In [88]:
help(np.arange)

Help on built-in function arange in module numpy:

arange(...)
    arange([start,] stop[, step,], dtype=None, *, like=None)

    Return evenly spaced values within a given interval.

    ``arange`` can be called with a varying number of positional arguments:

    * ``arange(stop)``: Values are generated within the half-open interval
      ``[0, stop)`` (in other words, the interval including `start` but
      excluding `stop`).
    * ``arange(start, stop)``: Values are generated within the half-open
      interval ``[start, stop)``.
    * ``arange(start, stop, step)`` Values are generated within the half-open
      interval ``[start, stop)``, with spacing between values given by
      ``step``.

    For integer arguments the function is roughly equivalent to the Python
    built-in :py:class:`range`, but returns an ndarray rather than a ``range``
    instance.

    When using a non-integer step, such as 0.1, it is often better to use
    `numpy.linspace`.

    See the Warning sections below for more information.

    Parameters
    ----------
    start : integer or real, optional
        Start of interval.  The interval includes this value.  The default
        start value is 0.
    stop : integer or real
        End of interval.  The interval does not include this value, except
        in some cases where `step` is not an integer and floating point
        round-off affects the length of `out`.
    step : integer or real, optional
        Spacing between values.  For any output `out`, this is the distance
        between two adjacent values, ``out[i+1] - out[i]``.  The default
        step size is 1.  If `step` is specified as a position argument,
        `start` must also be given.
    dtype : dtype, optional
        The type of the output array.  If `dtype` is not given, infer the data
        type from the other input arguments.
    like : array_like, optional
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    arange : ndarray
        Array of evenly spaced values.

        For floating point arguments, the length of the result is
        ``ceil((stop - start)/step)``.  Because of floating point overflow,
        this rule may result in the last element of `out` being greater
        than `stop`.

    Warnings
    --------
    The length of the output might not be numerically stable.

    Another stability issue is due to the internal implementation of
    `numpy.arange`.
    The actual step value used to populate the array is
    ``dtype(start + step) - dtype(start)`` and not `step`. Precision loss
    can occur here, due to casting or due to using floating points when
    `start` is much larger than `step`. This can lead to unexpected
    behaviour. For example::

      >>> np.arange(0, 5, 0.5, dtype=int)
      array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
      >>> np.arange(-3, 3, 0.5, dtype=int)
      array([-3, -2, -1,  0,  1,  2,  3,  4,  5,  6,  7,  8])

    In such cases, the use of `numpy.linspace` should be preferred.

    The built-in :py:class:`range` generates :std:doc:`Python built-in integers
    that have arbitrary size <python:c-api/long>`, while `numpy.arange`
    produces `numpy.int32` or `numpy.int64` numbers. This may result in
    incorrect results for large integer values::

      >>> power = 40
      >>> modulo = 10000
      >>> x1 = [(n ** power) % modulo for n in range(8)]
      >>> x2 = [(n ** power) % modulo for n in np.arange(8)]
      >>> print(x1)
      [0, 1, 7776, 8801, 6176, 625, 6576, 4001]  # correct
      >>> print(x2)
      [0, 1, 7776, 7185, 0, 5969, 4816, 3361]  # incorrect

    See Also
    --------
    numpy.linspace : Evenly spaced numbers with careful handling of endpoints.
    numpy.ogrid: Arrays of evenly spaced numbers in N-dimensions.
    numpy.mgrid: Grid-shaped arrays of evenly spaced numbers in N-dimensions.
    :ref:`how-to-partition`

    Examples
    --------
    >>> np.arange(3)
    array([0, 1, 2])
    >>> np.arange(3.0)
    array([ 0.,  1.,  2.])
    >>> np.arange(3,7)
    array([3, 4, 5, 6])
    >>> np.arange(3,7,2)
    array([3, 5])