In [ ]:
a = 10
if a < 10  and a == 10 :
    print("try to do someting ")

In [ ]:
a = "sudh"
if a == "sudh" or a == "Sudh":
    print("this is sudh ")

In [ ]:
a = 10 
b = 11
c = 12
d = 13
if a == 10 or b == 11 and c == 10 and d ==13:
    print("lets do something")

In [ ]:
d = {'key1' :"value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [ ]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values are verified ")
    print(d.values())
else :
    print("all the values are not verified ")

In [ ]:
d['key1']

In [ ]:
l = [1,2,3,4,5,"sudh" ,234.45]

In [ ]:
l[5]

In [ ]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

In [ ]:
for i in l :
    if type(i) == int and type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

In [ ]:
a = [9, 8,7,6,5,4,3,2,10]
for i in a :
       print(i ,end = ' ')

In [ ]:
l = [1,2,3,4,5,"sudh" ,234.45, 7, 33, 9,10]
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [ ]:
l1

In [ ]:
for a in l:
    if type(a)==int:
        print(a+1)
    elif type(a)==str:
        print(a+str(44))
    elif type(a)==float:
        print(a+float(10))

In [ ]:
for i in l:
    if type(i)==int  or type(i) == float:
        print(i+1)
    elif type(i)== str:    
        print(i+ str(1))

In [ ]:
l = ["car","bike", "567"]

for i in l:
    if i.isnumeric():
        print(i)

In [ ]:
if d['key1']=="value" and d['key2']=="amrit" and d['key3']=="ineuron":
    print ("all the values aree verified")
    print(d.value())

In [ ]:
d = {'key1' :"value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [ ]:
list=[]
name=input("Enter a name:-")
#while name!="Chandan":
    #list.append(name)
    #print("Thanks for the confirmation")
   # print(list)

In [1]:
l = [1,2,3,4,5465,67,"sudh"]

In [2]:
for i in l:
    if type(i)==str:
        if i=='d':
            break
        print(i)

sudh

In [8]:
a,b,c,d = 10,11,12,13 

if a==10 or b==11 and c==12 and d==113: 
    # this is equal to a==10 or (b==11 and c==12 and d==113)
    print('lets do something 1')
    
if (a==10 and b==11 ) or (c==12 and d==113):   
    # this is equal to (a==10 and b==11) or (c==12 and d==113)
    print('lets do something 2')
    
if a==10 and b==11 and c==12 and d==13 or a==9:    
    # this is equal to (a==10 and b==11 and c==12 and d==13) or a==9
    print('lets do something 3')
    
if a==9 and b==11 and c==12 and d==13:   
    print('lets do something 4')

lets do something 1
lets do something 2
lets do something 3

In [3]:
a,b,c,d = 10,11,12,13 

if a==10 or b==11 and c==12 and d==113: 
    # this is equal to a==10 or (b==11 and c==12 and d==113)
    print('lets do something 1')

lets do something 1

In [4]:
if (a==10 and b==11 ) or (c==12 and d==113):   
    # this is equal to (a==10 and b==11) or (c==12 and d==113)
    print('lets do something 2')

lets do something 2

In [5]:
if a==10 and b==11 and c==12 and d==13 or a==9:    
    # this is equal to (a==10 and b==11 and c==12 and d==13) or a==9
    print('lets do something 3')

lets do something 3

In [6]:
if a==9 and b==11 and c==12 and d==13:   
    print('lets do something 4')

In [15]:
l = [0,2,0,0, 123,0,0,0]

for i in l:
    if i > 0 :
        print("We have an active alarm Number:",i)         
    else:
        print ("No alarm")

No alarm
We have an active alarm Number: 2
No alarm
No alarm
We have an active alarm Number: 123
No alarm
No alarm
No alarm

In [27]:
l=[1,2,3,4,5,"sudh",234.45]

l1=[]

for i in l:
    if type(i) == int:
          l1 = l1 + [i]

print(l1)

[1, 2, 3, 4, 5]

In [26]:
print(l1)

[1, 2, 3, 4, 5]

In [28]:
a=int(input("Input a number from 1 to 40-------"))

if a >=1 or a <=9:
    print ("white")
if 10<= a >=20:
    print ("yellow")
if 21<= a >=30:
        print ("blue")
elif 31<= a >=40:
        print ("red")
else :
    print("Please enter number from 1 to 40")

Input a number from 1 to 40-------12
white
Please enter number from 1 to 40

In [29]:
if 10<= 12 >=20:
    print ("yellow")

In [ ]:
l1=[[2,56,43],['sad','sad',234,'forty','rest',734],[2-8j,3.065,7,'tinku'],'welcome']
l1.insert(2,[12,39,67])

print(l1,'\n')
print('Q1')
for i in l1 :
    if type(i) == list :
        
        for j in range(len(i)) :
            if type(i[j]) == str :
                print('Sublist :',i,'\n','index= ',j,', value = ',i[j],'\n')
                
print(l1,'\n' )
print('Q2')
for i in l1 :
    if type(i) == list :
        for j in range(len(i)) :
            if type(i[j]) == str :
                i[j]=' '
                
                
print('final list after removing all str in nested list:',l1)

In [31]:
print(l1)

[[2, 56, 43], ['sad', 'sad', 234, 'forty', 'rest', 734], [12, 39, 67], [(2-8j), 3.065, 7, 'tinku'], 'welcome']

In [32]:
#l1=[[2,56,43],['sad','sad',234,'forty','rest',734],[2-8j,3.065,7,'tinku'],'welcome']
#l1.insert(2,[12,39,67])
#print(l1)

for i in l1 :
    if type(i) == list :
        for j in range(len(i)) :
            if type(i[j]) == str :
                print('Sublist :',i,'\n','index= ',j,', value = ',i[j],'\n')

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  0 , value =  sad

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  1 , value =  sad

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  3 , value =  forty

Sublist : ['sad', 'sad', 234, 'forty', 'rest', 734]
 index=  4 , value =  rest

Sublist : [(2-8j), 3.065, 7, 'tinku']
 index=  3 , value =  tinku

In [35]:
for i in l1 :
    if type(i) == list :
        for j in range(len(i)) :
            if type(i[j]) == str :
                i[j]='$'
                
                
print('final list after removing all str in nested list:',l1)

final list after removing all str in nested list: [[2, 56, 43], ['$', '$', 234, '$', '$', 734], [12, 39, 67], [(2-8j), 3.065, 7, '$'], 'welcome']

In [36]:
l1

[[2, 56, 43],
 ['$', '$', 234, '$', '$', 734],
 [12, 39, 67],
 [(2-8j), 3.065, 7, '$'],
 'welcome']

In [37]:
import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,13):
        print(calendar.month(yy,m))

Type 1 for monthly calendar or Type 2 for yearly calendar1
Enter the Year: 1
Enter the month number: 1
     January 1
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [38]:
 import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,13):
        print(calendar.month(yy,m))

Type 1 for monthly calendar or Type 2 for yearly calendar2
Enter the Year: 2
     January 2
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

     February 2
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28

      March 2
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

      April 2
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

       May 2
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

       June 2
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

       July 2
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

      August 2
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

    September 2
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

     October 2
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

     November 2
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

     December 2
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [39]:
import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,13):
        print(calendar.month(yy,m))

Type 1 for monthly calendar or Type 2 for yearly calendar1
Enter the Year: 3
Enter the month number: 6
       June 3
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [41]:
import calendar
n=int(input('Type 1 for monthly calendar or Type 2 for yearly calendar'))

if n==1 :
    yy=int(input('Enter the Year: '))
    mm=int(input('Enter the month number: '))
    print(calendar.month(yy,mm))
elif n==2:
    yy=int(input('Enter the Year: '))
    for m in range(1,5):
        print(calendar.month(yy,m))

Type 1 for monthly calendar or Type 2 for yearly calendar2
Enter the Year: 2023
    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

   February 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28

     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [49]:
!pip install calendar

ERROR: Could not find a version that satisfies the requirement calendar (from versions: none)
ERROR: No matching distribution found for calendar