In [2]:
a = 10 

if a == 11 :
    print("this is my first condition")

In [3]:
a = 11 

if a == 11 :
    print("this is my first condition")

this is my first condition

In [6]:
a = 10
if a > 5 :
    print("ok i satisfy")

ok i satisfy

In [7]:
a = 4
if a > 5 :
    print("ok i satisfy")

In [8]:
a = 10
if a == 11:
    print("my condition is false")
else :
    print("print this ")

print this

In [11]:
a = 10 

if a == 12 :
    print("here we are trying to compare 10 with 12")
elif a == 10:
    print("we are trying to compare 10 with 11")
else :
    print("if all the blocks wil fail then do this ")

we are trying to compare 10 with 11

In [22]:
price = 400

if price > 500 : 
    print(" may be i wont be able to buy a jacket ")
elif price < 500 :
    print("i will be able to buy a jacket")
elif  price == 500 :
    print("for sure i will be able to buy")
else  :
    print("i dont know")

i will be able to buy a jacket

In [27]:
lis = [1,2,3,4,5,6]

if 60 in lis :
    print("try to perform a task ")
else :
    print("do not perform this task")

do not perform this task

In [28]:
lis = [1,2,3,4,5,6]

if 60 not in lis :
    print("try to perform a task ")
else :
    print("do not perform this task")

try to perform a task

In [29]:
lis = [1,2,3,4,5,6]

if 10 in lis :
    print("thy to do a addition")
elif 2 in lis :
    print("try to do sub")
elif 3 in lis :
    print("try to do mul")
if 4 in lis :
    print("this is new statement")

try to do sub
this is new statement

In [39]:
price  = int(input())

if price  < 500 :
    print("i will be able to buy something")
    print()
    if price < 400 :
        print("i will be able to buy a jacket")
    elif price < 300 :
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do sometign")
    else :
        print("i wont be able to buy anyting")
else :
     print("i wont be able to buy anything with this price tag")

550
i wont be able to buy anything with this price tag

In [45]:
marks = int(input())

if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOFEL")
        if marks < 400:
            print("Try something else")
    else:
        print("YOU GOT TOFEL")
        
elif marks > 600:
    print("you will get IIT")
    if marks > 700:
        print("you will get IIM")
    else:
        print("try next time")
else:
    print("You got GRE congratulations")

750
you will get IIT
you will get IIM

In [48]:
val  = float(input("enter a floating point number"))

if val >= 0 :
    if val == 0 :
        print("entered value is zero")
    else :
        print("enter value is a positive number ")
else :
    print("entered number is a negative number")

enter a floating point number-0.5
entered number is a negative number

In [ ]:
if :
    print()
elif :
    print()
else:
    print()

In [ ]:
mark = int(input("entrance exam marks"))

if mark > 700:
    print()
    if mark :
        print()
    elif:
        print()
        if:
            print()
        else:
            print()
    else:
        print()
elif:
    print()
    
else:
    print()

In [65]:
mark = int(input("entrance exam marks "))

if mark > 500:
    print("you will get NIT")
    
    if mark > 600:
        print("you will get IIT")
        
        if mark > 700:
            print("you will get IIM")
            
            if mark > 800:
                print("you should go abroad")
            else:
                print("little more effort needed for abroad")
                
        else:
            print("mark shorten to get IIM")
            
    else:
        print("little more effort needed for IIT ")
        
elif mark == 500:
    print("you will get University college")
else:
    print("Take drop and work hard")

entrance exam marks 400
Take drop and work hard